<!DOCTYPE html>
<html>
  <head>
    <title>Bullet-In Board</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <script defer src="/javascripts/index.js"></script>
  </head>
  <body>
    <main class="container">
      <section class="form-container">
        <svg
          id="close-modal-btn"
          class="close-modal hidden"
          width="20"
          height="20"
          viewBox="0 0 100 100"
          xmlns="http://www.w3.org/2000/svg"
        >
          <line
            x1="10"
            y1="10"
            x2="90"
            y2="90"
            stroke="white"
            stroke-width="10"
          />
          <line
            x1="90"
            y1="10"
            x2="10"
            y2="90"
            stroke="white"
            stroke-width="10"
          />
        </svg>

        <h1 class="title">Create a Message</h1>
        <form method="POST" action="/new">
          <div id="username-container" class="input-container">
            <label for="user-input">Username</label>
            <input
              id="user-input"
              name="userInput"
              type="text"
              placeholder="Enter your username"
              maxlength="30"
            />
          </div>
          <div id="message-container" class="input-container">
            <label for="text-input">Message</label>
            <div class="textarea-container">
              <textarea
                name="textInput"
                id="text-input"
                rows="10"
                placeholder="Share your thoughts, even the weird ones"
              ></textarea>
              <p id="text-count" class="text-count" maxLength="180">0/180</p>
            </div>
          </div>
          <button type="submit">Send</button>
        </form>
        <p class="footer">© Amiel Ian Mendoza 2024</p>
      </section>
      <section class="message-board">
        <div class="title">
          <h1>Bullet-In Board</h1>
          <div id="open-modal-btn" class="open-modal-btn hidden">
            <svg
              width="30"
              height="30"
              viewBox="0 0 100 100"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle
                cx="50"
                cy="50"
                r="45"
                stroke="white"
                stroke-width="5"
                fill="none"
              />
              <line
                x1="50"
                y1="25"
                x2="50"
                y2="75"
                stroke="white"
                stroke-width="5"
              />
              <line
                x1="25"
                y1="50"
                x2="75"
                y2="50"
                stroke="white"
                stroke-width="5"
              />
            </svg>
          </div>
        </div>
        <div class="message-board-container">
          <% for (let i = messages.length - 1; i >= 0; i--) { %>
          <div class="message-box">
            <p class="message-user"><%= messages[i].username %></p>
            <p class="message-text"><%= messages[i].message %></p>
            <p class="message-date"><%= messages[i].created_at %></p>
          </div>
          <% } %>
        </div>
      </section>
    </main>
  </body>
</html>
